<template>
  <div class="home">
    <Drawer @on-incident-click="handleIncidentClick" class="drawer" />
    <Map :incident="selectedIncident" class="map" />
  </div>
</template>

<script>
import { Map, Drawer } from '../components'

export default {
  name: 'home',
  data() {
    return {
      selectedIncident: null
    }
  },
  components: {
    Map,
    Drawer,
  },
  methods: {
    handleIncidentClick(incident) {
      this.selectedIncident = incident
    }
  },
}
</script>

<style lang="sass">
  .home
    display: flex
    background-color: #3e3f40
    .drawer
      height: 100vh
      flex-basis: 25%
      overflow-y: auto
    .map
      height: 100vh
      flex-basis: 75%
</style>
