<template>
  <div v-on="$listeners" v-bind='$attrs' class="card-content">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="sass">
  .card-content
    border: 1px solid #c7c7c7
</style>