<template>
<div>
  <span>{{ label }}: </span>
  <span :style="{ backgroundColor }" class="circle">{{ $attrs.value }}</span>
</div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
  },
  computed: {
    backgroundColor() {
      if (typeof this.$attrs.value !== 'number')
        return 'black'
      let color = '#217d1e'
      if (this.$attrs.value < 70)
        color = '#1a4ae8'
      if (this.$attrs.value < 30)
        color = '#de3737'
      return color
    },
  },
}
</script>

<style lang="sass">
  .circle
    border-radius: 50%
    color: #e1e2e3
    padding: 3px
</style>