<template>
  <div>
    <Card class="card" v-for="(item, index) in incidents" :key="index" @click="handleIncidentClick(item)">
      <span>Acquired at: {{ item.acqDate }}, </span><strong>{{ item.acqTime }}</strong>
      <ColoredNumber label="Confidence" :value="item.confidence" />
      <div>
        <span>Time: </span>
        <i class="material-icons icon" :style="{ color: iconColor(item.daynight) }">{{ iconType(item.daynight) }}</i>
      </div>
    </Card>
  </div>
</template>

<script>
import Dummy from '../assets/dummy.json'
import { mapGetters } from 'vuex'
import ColoredNumber from './colored-number'
import Card from './card'

export default {
  components: {
    ColoredNumber,
    Card,
  },
  computed: {
    ...mapGetters({
      incidents: 'incidents',
    }),
  },
  mounted() {
    setTimeout(() => {
      this.$store.dispatch('storeIncidents', Dummy)
    }, 3000)
  },
  methods: {
    handleIncidentClick(incident) {
      this.$emit('on-incident-click', incident)
    },
    iconType(time) {
      if (_.lowerCase(time) === 'd')
        return 'wb_sunny'
      return 'nights_stay'
    },
    iconColor(time) {
      if (_.lowerCase(time) == 'd')
        return 'yellow'
      return '#e1e2e3'
    }
  },
}
</script>

<style lang="sass">
  .card
    margin-bottom: 1rem
    margin-top: 1rem
    margin-right: 1rem
    padding: 1rem
    color: #e1e2e3
    cursor: pointer
    .icon
      vertical-align: bottom
</style>