<template>
  <div ref="map">
  </div>
</template>

<script>
import Map from '../helpers/map-helper'
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      map: null,
    }
  },
  props: {
    incident: {
      type: Object,
      default: () => ({}),
    },
  },
  mounted() {
    this.map = new Map({ el: this.$refs.map })
  },
  computed: {
    ...mapGetters({
      incidents: 'incidents',
    })
  },
  watch: {
    incidents(newVal, _) {
      newVal.forEach(point => {
        this.map.addMarker(point)
      })
    },
    incident(newVal, _) {
      this.map.goToLocation(newVal)
    }
  },
}
</script>

<style lang="sass">
</style>