<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #242f3e;
  height: 100vh
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #e1e2e3;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

body {
  background-color: #3e3f40;
}
</style>
